*{
    margin: 0;
    padding: 0;   
}

body{
    background-color: #ffff;
    font-size: 100%;
}
    
header{
    background-color: #ECB390;
    width: 100%;
    position: relative;
    top:10px;       
}
.header__img{
    margin:0px 10px 1px;
    float:left;
}
.header__section{
    width: 100%;
    overflow: hidden;
}
.nav__a{
    margin:0px 0px;
    text-decoration: none;
    color:rgb(218, 114, 29);
    font: size 14px 10px;

}
.nav__li{
    display:inline-block;
    width:12%;
    margin-left: 60px;
    padding:10px 15px 10px 0px;
    background: color #000;
    border: 1px solid #F5EEDC;
    text-align: center;
    color: #fff;
    margin-top: 30px;   
}
nav ul li:hover {
    background: #C0D8C0;
}
.home{
    width:100%;
    background-image: url("../imagenes/home.jpg");
    background-size:cover;
    padding-top:10%;   

}
.home__div{
    display:flex;
    float:left;

}
.home__img{
    width: 400px;
    padding-left: 10%;
    

}
.home__title{
    margin-left: 20%;
    padding-top: 10%;
    display:inline;
    font-size: 60px;
    text-align: justify;
    float:left;
    

}

.index__title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    color: #FFAB76;
    padding-top: 5%;
}
.section__article{
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    text-align: center;
    color: #FFAB76;
    margin-bottom: 10px;
}
.article__img{
    padding-top: 40%;  
    padding-left: 5%;
}
.article__p{

    width: 70%;
    font-size: 25px;
    padding-top: 10%;
    padding-left: 1%;
    color: #FFAB76;
    text-align:start;

}
.tabla{
    width: 70%;
    border: 1px rgba(255, 176, 7, 0.61) solid;
    font-size:25px;
    text-align:center;
    background-color: #F5EEDC ;
    color: rgb(114, 109, 105);
    margin-bottom: 200px;
    margin-left: 15%;
    margin-top: 150px;
     
}
.tabla__title{
    font-size: 35px;
    margin-bottom: 5%;
}
.Main__defi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
.main__title{
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.main__parrafo{

    width: 860;
    text-align: center;
    margin-left:5%;
    padding-top: 60px;
    margin-right: 5%;
    font-size: 25px;
    border:#000 solid 1px;
    border-radius: 20px;
}
.defi__subtitulo{
    margin-left: 1%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;

}
.defi__iframe{
    border-style: solid;
    border-radius: 20px;
    text-align: end;
    margin-right: 5%;
}

.contenedor__defi{
    width: 100%;
    height: auto;
    display:flex;
    float:left;
    margin-top: 10%;
    margin-bottom: 200px;
}
.article__defi{
    display:flex;
    float:left;
}
.Defi__item{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display:inline-block;
    width: 40%;
    border: solid black;
    border-radius: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color:#C0D8C0;
}
.div__subtitle{
    text-align: center;
    font-size: 35px;
    color: #DD4A48;
}
.parrafo__defi{
    text-align: center;
    font-size: 25px;
    padding-top: 30%;
}
.Main__nosotros{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    margin-top: 5%;
}
.div__nosotros{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}
.article__nosotros{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 20px;
    text-align:center;
}

.div__ceo{
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color:#DD4A48;
    background-color: #ecb390ab;
    margin-left: 33.33%;
    margin-top: 5%;
}
.div_subceo{
    display: flex;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.ceo__robert{
    width: 33%;
    text-align: center;
    border-style: solid;
    border-color: #DD4A48;
    background-color: #ecb390ab;
    margin-left: 100px;
}
.ceo__paola{
    width: 33%;
    text-align: center;
    border-style: solid;
    border-color: #DD4A48;
    background-color: #ecb390ab;
    margin-left:20%;
}
.section__buy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
    font-size: 30px;
    margin-bottom: 5%;
    color: #C0D8C0;
}
.Section__subtitleBuy{
    font-size: 55px;
    text-align: center;
}
.Section_list{
    background-image: url("../imagenes/home_index.jpg");
    background-size: 100%;
    width: 98%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: inset;
    border-width: 10px;
    border-color: #C0D8C0;
    font-size: 25px;

}
.ol__list{
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.li__list{
    margin-right: 10px;
    margin-bottom: 50px;
    list-style-type: square;
    margin-left: 100px;
}   
.div__swap{
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}
.swap__pancake{
    height: 250px;
    border-style:ridge;
    border-color:#FFAB76;
    border-width: 10px;
    margin-right: 100px;
    opacity: 0.7;
    
}
.swap__ape{
    height: 250px;
    border-style: ridge;
    border-width: 10px  ;
    border-color: #FFAB76;
    opacity: 0.7;
}
.swap__ape:hover{
    border-color: #DD4A48;
    border-style: outset;
    opacity: 1.0;
}
.swap__pancake:hover{
    border-color: #DD4A48;
    border-style: outset;
    opacity: 1.0;   
}
.Section__redes{
    padding-top: 200px;
    
}
.Redes__title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top:5%;
}
.div__parrafoRedes{
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.div__redes{
    margin-left: 10%;
    position:relative;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
}
.texto__redes{
    position:absolute;
    padding-left:20% ;
    font-size: 50px;
}
.form {
    text-align: center;
    margin-left: 33.33%;
    margin-top: 200px;
    width: 500px;
    background-color:#ecb390b9;
    padding: 2px;
    padding-top: 50px;
    border-radius: 10px;
 }
 .link__redes{
     text-decoration: none;
     color: #ffff;
 }
 .div__form{
     text-align: center;
 }
 
 input, textarea {
    padding: 10px;
 }
 .Select__coin{
     margin:20px 0px 0px 0px;
 }
.button{
    margin-top: 20px;
    
}
.input__form{
    margin:20px 20px 20px 20px;
    font-size: 15px;
    font-style: italic;

}
.input__form:hover{
    background-color: #DD4A48;

}

footer{
    text-align: center;
    width: 100%;
    display:inline-block;
    background-color: #DD4A48;
}

.footer{
    width: 100%;
    text-align: center;
    color:floralwhite;
    text-decoration: none;
    margin-left: 1%;

}
.footer:hover{
    color:blue;
}

.footer__redes{
    text-align: end;
}